<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="onestonetwobirds.capstonuitest3" >

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".privateHouseKeeping.Widget.MyCustomWidget" android:label="Ecomo widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>

        <activity
            android:name=".privateHouseKeeping.Main.PrivateMainActivity"
            android:label="개인 가계부" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".groupHouseKeeping.Main.GroupMainActivity"
            android:label="그룹 가계부" >
        </activity>
        <activity
            android:name=".groupHouseKeeping.Main.InGroupActivity"
            android:label="그룹 가계부" >
        </activity>
        <activity
            android:name=".privateHouseKeeping.Insert.InsertActivity"
            android:label="가계부 입력" >
        </activity>
        <activity
            android:name=".privateHouseKeeping.Widget.NewWidgetActivity"
            android:label="위젯 입력" >
        </activity>
        <activity
            android:name=".privateHouseKeeping.ModifyInformation.ModifyInfoActivity"
            android:label="개인정보 수정" >
        </activity>
    </application>

</manifest>
